$PRIMARY_1: #047a22;
$PRIMARY_2: #1976d2;
$PRIMARY_3: #bbdefb;
$PRIMARY_4: #e3f2fd;

$ORANGE: #ef6d3f;
$BLACK: #000000;

$ALERT_SUCCESS: #1b9f60;
$ALERT_SUCCESS_LIGHT: #c5e9d7;

$ALERT_ERROR: #e03f34;
$ALERT_ERROR_LIGHT: #f6d8d6;

$ALERT_WARNING: #e07324;
$ALERT_WARNING_LIGHT: #f8decb;

$NEUTRAL0: #ffffff;
$NEUTRAL1: #f9f9f9;
$NEUTRAL2: #eceef0;
$NEUTRAL3: #e5e5e5;
$NEUTRAL4: #a098ae;
$NEUTRAL5: #8e8ea1;
$NEUTRAL8: #5a5e7c;
$NEUTRAL10: #0c1c2c;

$font-5xl: 7.2rem;
$font-4xl: 6.4rem;
$font-3xl: 5.4rem;
$font-2xl: 4.8rem;
$font-xl: 3.6rem;
$font-lg: 2.8rem;
$font-2md: 2.4rem;
$font-md: 2rem;
$font-sm: 1.6rem;
$font-xs: 1.4rem;
$font-2xs: 1.2rem;
$font-3xs: 1rem;
$font-4xs: 0.8rem;

$B800: #1564c0;
$B700: #1976d2;
$B600: #1d50d1;
$B500: #3d65ec;
$B400: #5172e2;
$B300: #748de8;
$B200: #9eadee;
$B100: #bbdefb;
$B50: #e3f2fd;

// Brand 2
$O700: #d35432;
$O600: #e15b37;
$O500: #ec603b;
$O400: #ed7655;
$O300: #ef8d72;
$O200: #f2ad9a;
$O100: #f7cdc1;
$O50: #f7e9e8;

// Neutral
$N900: #0c1c2c;
$N800: #172b4d;
$N700: #253858;
$N600: #3b536d;
$N500: #42526e;
$N400: #505f79;
$N300: #7a8da6;
$N200: #bec7d3;
$N100: #eff1f4;
$N90: #8993a4;
$N80: #97a0af;
$N70: #a5adba;
$N60: #b3bac5;
$N50: #c1c7d0;
$N40: #dfe1e6;
$N30: #ebecf0;
$N20: #f4f5f7;
$N10: #fafbfc;
$N0: #ffffff;
$NINJA: #e3f2fd;

//Danger
$R700: #e9401b;
// $R500: #F83D14;
$R300: #e03f34;
$R100: #ffa08b;
$R50: #f6d8d6;

// Warning
$Y800: #de9e1b;
$Y700: #c98803;
// $Y500: #E8A010;
$Y300: #e07324;
$Y50: #f8decb;

// Success
$G700: #06693f;
// $G500: #108F59;
$G300: #15ad64;
$G50: #c5e9d7;
$G40: #eef8f4;

// Tag
$BT50: #d7fdff;
$BT500: #1fc0cb;

$TAG1: $O500;
$TAG2: $B500;
$TAG3: $Y300;
$TAG4: $G300;
$TAG5: #893bec;
$TAG6: #ec3bba;
$TAG7: #3becc2;

$PADDING: 2rem;
